---
layout: default
title: html
changefreq: weekly
posts: "html"
---

<div class="blogs-heading">
  <h1 class="blogs-heading__title">posts about html</h1>
</div>

{% include search-input.html %}

<main>
  {% include sidebar.html %}

  <ul class="posts">
    {% for post in site.tags["html"] %}
    <li class="post">
      <a class="post__link" href="{{ site.baseurl }}{{ post.url }}">
        <div>
          <h3 class="post__title">{{ post.title }}</h3>
          <p class="post__meta">{{ post.meta }}</p>
        </div>
        <div class="post__tags">
          {% for tag in post.tags %}
          <a href="/{{tag}}" class="tag tag--{{tag}}">{{tag}}</a>
          {% endfor %}
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</main>