---
layout: default
priority: 1.0
---

<!-- blog posts -->
<main>
  {% include sidebar.html %}

  <ul class="posts">
    {% for post in site.posts %}
    <li class="post">
      <a class="post__link" href="{{ site.baseurl }}{{ post.url }}">
        <div>
          <h3 class="post__title">{{ post.title }}</h3>
          <p class="post__meta">{{ post.meta }}</p>
        </div>
        <div class="post__tags">
          {% for tag in post.tags %}
          <a href="/{{tag}}" class="tag tag--{{tag}}">{{tag}}</a>
          {% endfor %}
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</main>