<nav class="container py-2 flex {% if page.url == '/' %} flex-direction-column {% endif %} justify-content-between align-items-center flex-direction-row-md"> 
    <a
        href="/"
        class="text-2 mb-1 align-self-start mb-0-md">
        codinglead
    </a>

    <div class="flex {% if page.url == '/' %}w-100{% endif %} w-initial-md">
        {% if page.url == '/' %}
            <label
                class="d-none"
                htmlFor="search-input">
                search blog posts
            </label>

            <input
                placeholder="search..."
                autoComplete="off"
                type="text"
                class="mr-2 px-1 w-80 background-color-blue vw-30-md"
                id="search-input" />
        {% endif %}

        <button id="theme-selector" class="theme-selector flex justify-content-center align-items-center">

                <img
                    id="light-mode"
                    src="/icons/sun.svg"
                    alt="sun"
                    height="24"
                    width="24" />

                <img
                    id="dark-mode"
                    src="/icons/moon.svg"
                    alt="moon"
                    height="24"
                    width="24"
                    class="d-none" />
        </button>
    </div>
</nav>
