<div className="pb-1 p-0-lg pt-4-lg w-15-lg">
    <div className="text-3 mb-1">
        Authors
    </div>

    <ul className="mb-1">
        <li>
            <a
                href="https://brianmunoz.co/"
                className="text-1 color-blue-2">
                Brian Munoz
            </a>
        </li>

        <li>
            <a
                href="https://danielmunoz.me/"
                className="text-1 color-blue-2">
                Daniel Munoz
            </a>
        </li>
    </ul>

    <div className="text-3 mb-1">
        Projects
    </div>

    <ul>
        <li>
            <a
                href="https://popular-answers.vercel.app/"
                className="text-1 color-blue-2">
                popular answers
            </a>
        </li>
    </ul>
</div>