<div class="sidebar">
  <div class="sidebar__contain">
    <h3 class="sidebar__title">authors</h3>

    <ul class="sidebar__list">
      <li>
        <a href="https://brianmunoz.co/">
          Brian Munoz
        </a>
      </li>
      <li>
        <a href="https://planeswalker1.github.io/">
          Daniel Munoz
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar__contain">
    <h3 class="sidebar__title">Projects</h3>

    <ul class="sidebar__list">
      <li>
        <a href="https://soloq.co">
          Soloq.co - clothing brand
        </a>
      </li>
    </ul>
  </div>
</div>